.nav {
  overflow:hidden;
  transition: 0.5s;
  text-align: center;
}


.nav a {
  font-size:1.5em;
  text-align:center;
  line-height: 1.3em;
  outline:hidden;
  color:black;
  text-decoration: none;
}

.nav li {
  display:inline;
  padding-right:20px;
}

.head {
  position:relative;
	margin-top:0.5%;
	padding:1%;
	outline:hidden;
}
.center_box {
  height: 100%;
  width: 75%;
  margin-top: 20px;
  margin-left: 13%;
	position:relative;
	outline:hidden;
}

.inner-box {
  background-color:#FFFFFF;
  float:left;
  padding:1%;
  padding-top:20px;
}

body {
      background-color: lightblue;
  }

p {
  text-align: left;
  font-size: 15px;

}

hr {
   margin-top: -1.5em;
   margin-bottom: 1.5em;
   margin-left: auto;
   margin-right: auto;
   border-style: inset;
   border-width: 1.5px;
}

h1 {
  	font-family: 'Cinzel', serif;
  	font-size:3em;
  	text-align: center;
  	}

h2 {
  font-family: 'Cinzel', serif;
  font-size:3em;
  margin-top:-0.5%;
  line-height: 50px;
}

* {
  box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;

}

.row::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
